html
  head
    title= title
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/fileHistory.js')
    link(rel="stylesheet", href="/public/css/fileHistory.css", type="text/css")
  body
    h1= message
    include tpl/uploadFile.pug
    include tpl/notification.pug
    #file-history